//custom css
html,
body {
  height: 100%;
  color: rgb(108, 108, 108);
  font-size: 16px;
  font-family: Montserrat;
}

img {
  max-width: 100%;
}

#top-info {
  padding-top: 20px;
}

.top-info-grp {
  margin-right: 30px;
}

.top-info-grp .icon {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  background: rgb(26, 155, 220);
  border-radius: 50%;
  color: white;
  margin-right: 30px;
}

#top-info img {
  cursor: pointer;
}

.icon > i {
  padding: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: bold;
  color: rgb(108, 108, 108);
}

.navbar-expand-lg .navbar-nav .active .nav-link {
  color: rgb(38, 38, 38);
}

.navbar-text {
  color: rgb(25, 25, 25);
}

#main-banner {
  background: url("../../images/banner.png");
  background-size: cover;
  background-position: left 55% top 30%;
  background-repeat: no-repeat;
  height: 100%;
}

nav img {
  opacity: 0;
}

nav button.navbar-toggler:focus {
  outline: white;
}

#main-banner .col-lg-7 .text {
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0 0 5rem 3rem #FFFFFF;
  border: none;
}

#main-banner .lead {
  font-size: 3rem;
  color: rgb(71, 71, 71);
  font-weight: bold;
}

#service .row {
  margin: 0;
}

#service .col-md-3 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background: rgb(67, 177, 210);
  color: #FFFFFF;
}

#service .col-md-3:nth-of-type(2) {
  background: #3fb6c6;
}

#service .col-md-3:nth-of-type(3) {
  background: #3cbbbb;
}

#service .col-md-3:nth-of-type(4) {
  background: #37c3a8;
}

#service .icon {
  font-size: 2.5rem;
  width: 4.5rem;
  height: 4.5rem;
  background: white;
  border-radius: 50%;
  color: black;
}

#service .lead {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#why-choose-us .lead {
  font-size: 2rem;
  color: rgb(71, 71, 71);
  font-weight: bold;
  margin-bottom: 1rem;
}

#why-choose-us .icon {
  background: #1a9bdc;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: 1.5rem;
}

#best-features {
  background: url("../../images/best-service.jpg");
  background-size: cover;
  background-position: left top 50%;
  background-repeat: no-repeat;
  //max-height:100%;
}

#best-features .text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2rem;
}

#best-features .icon {
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

#best-features .text .lead {
  font-size: 3rem;
  font-weight: bold;
}

#best-features hr {
  background: white;
  width: 5rem;
  height: 0.4rem;
}

#info .col-12 > .text {
  min-height: 8rem;
  margin-bottom: 3rem;
}

#info .text .lead {
  color: #494949;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#info .category .text {
  min-height: 0;
}

#info .icon {
  margin-left: 0.5rem;
  font-size: 2.5rem;
  width: 2rem;
  height: 2rem;
  color: #FFFFFF;
  margin-right: 1rem;
}

#info .title {
  background: rgb(226, 226, 226);
  border-radius: 2rem;
  width: 100%;
  font-weight: bold;
  padding-left: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.5rem;
  color: rgb(73, 73, 73);
  cursor: pointer;
}

#info .category .detail {
  /*margin-bottom: 2rem;*/
}

#info .card-body {
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
}

#info .card {
  border: none;
}

#info .card .lead {
  margin-bottom: 0;
}

#info .card .info {
  color: rgb(0, 135, 190);
}

#info .card-text {
  line-height: 2;
}

#info .card img {
  max-height: 10rem;
  object-fit: cover;
}

#info .category button {
  border: none;
}

#info button[aria-expanded=true] {
  background: rgb(0, 135, 190);
  color: #FFFFFF;
}

#info button:focus {
  outline: none;
}

#info button:focus {
  border: none;

}

#gallery {
  background-image: url("../../images/gallery-background.jpg");
  position: relative;
  color: #FFFFFF;
}

#gallery .container-fluid {
  background: rgba(55, 181, 157, 0.8);
}

#gallery .lead {
  font-weight: bold;
  font-size: 3rem;
}

#gallery img {
  max-height: 13rem;
  object-fit: cover;
  width: 100%;
}

#our-doctor {
  color: rgb(108, 108, 108);
}

#our-doctor .lead {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(73, 73, 73);
}

#our-doctor .avt img {
  border-radius: 50%;
}

#our-doctor .text {
  margin-top: 2rem;
}

#our-doctor .name {
  color: #6f6f6e;
  font-size: 2rem;
}

#our-doctor .icon i {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: rgb(0, 135, 190);
}

#quick-action {
  background: rgb(226, 226, 226);
}

#quick-action .lead {
  font-weight: bold;
  font-size: 1.5rem;
  color: #494949;
}

button.btn-primary {
  background: #0087be;
  border-radius: 3rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.33rem 2.5rem 0.33rem #dddddd;
  color: #FFFFFF;
}

#quick-action .btn-primary {
  box-shadow: 0 0.33rem 1.5rem 0.33rem #bbbbbb;
}

#footer {
  background-color: rgb(23, 23, 23);
}

#footer .lead {
  font-weight: bold;
  font-size: 1.75rem;
  color: #FFFFFF;
}

#footer span i {
  color: #FFFFFF;
}

#footer li {
  margin-bottom: 1rem;
}

#footer ul {
  list-style-type: none;
  padding-left: 0;
}

#footer .icon {
  background: #171717;
  color: #6c6c6c;
  font-size: 3rem;
}

#footer .icon i {
  padding: 0;
  font-size: 2rem;
}

#footer li i {
  color: #0087be;
  font-size: 1.5rem;
}

#footer a {
  text-decoration: none;
  color: #6c6c6c;
}

#footer .form-group {
  border-bottom: 1px solid rgb(108, 108, 108);
  width: 100%;
}

#footer .form-control {
  background-color: rgb(23, 23, 23) !important;
  border: none;
}

#footer .form-group label {
  margin-bottom: 0;
  align-self: center;
}

#footer input:focus {
  box-shadow: 0 0 0 rgb(23, 23, 23) !important;
}

#footer .btn-primary {
  box-shadow: 0 0.33rem 2.5rem 0.33rem black;
}

#cpyrght {
  background: rgb(26, 26, 26);
  padding: 2rem;
}

//font Montserrat

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


