html,
body {
    height: 100%;
    color: rgb(108, 108, 108);
    font-size: 16px;
}

img {
    max-width: 100%;
}

#top-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-info-grp {
    margin-right: 30px;
}

.top-info-grp .icon {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background: rgb(26, 155, 220);
    border-radius: 50%;
    color: white;
    margin-right: 30px;
}

.icon > i {
    padding: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: bold;
    color: rgb(108, 108, 108);
}

.navbar-expand-lg .navbar-nav .active .nav-link {
    color: rgb(38, 38, 38);
}

.navbar-text {
    color: rgb(25, 25, 25);
}

#main-banner {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    max-height: 54rem;
    height: 100%;
}

#main-banner .col-md-7 .text {
    border-radius: 50%;
    /*padding:5rem;*/
    background: #FFFFFF;
    box-shadow: 0 0 10rem 10rem #FFFFFF;
    border: none;
}

#main-banner .lead {
    font-size: 3rem;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

#service .col-md-3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: rgb(67, 177, 210);
    color: #FFFFFF;
}

#service .icon {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 50%;
    color: black;
}

#service .lead {
    font-size: 2rem;
    font-weight: bold;
}

#why-choose-us .lead {
    font-size: 3rem;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

#why-choose-us .item {
}

#best-features {
    background: url("../images/best-service.jpg");
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#best-features .text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
}

#best-features .icon {
    font-size: 5rem;
    width: 4rem;
    height: 4rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

#best-features .text .lead {
    font-size: 3rem;
    font-weight: bold;
}

#best-features hr {
    background: white;
    width: 5rem;
    height: 0.4rem;
}

#info .text {
    min-height: 8rem;
}

#info .category .text {
    min-height: 0;
}

#info .icon {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    color: #FFFFFF;
    margin-right: 1rem;
}

#info .title {
    background: rgb(226, 226, 226);
    border-radius: 2rem;
    width: 100%;
    font-weight: bold;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    color: rgb(73, 73, 73);
}

#info .title.active {

}

#info .category .detail {
    /*margin-bottom: 2rem;*/
}

#info .card .lead {
    margin-bottom: 0;
}

#info .card .info {
    font-size: 0.75rem;
    color: rgb(0, 135, 190);
}

#info .card img {
    max-height: 10rem;
}

#info .category button {
    border: none;
}

#info button[aria-expanded=true]{
    background: rgb(0, 135, 190);
    color: #FFFFFF;
}

#info button:focus {
    border: none;

}
#gallery {
    background-image: url("../images/gallery-background.jpg");
    position: relative;
    color: #FFFFFF;
}

#gallery .container-fluid {
    background: rgba(55, 181, 157, 0.8);
}

#gallery .lead {
    font-weight: bold;
    font-size: 3rem;
}

#gallery img {
    max-height: 13rem;
    width: 100%;
}

#our-doctor {
    color: rgb(108, 108, 108);
}

#our-doctor .lead {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(73, 73, 73);
}

#our-doctor .avt img {
    border-radius: 50%;
}

#our-doctor .icon i {
    color: rgb(0, 135, 190);
}

#quick-action {
    background: rgb(226, 226, 226);
}

#quick-action .lead {
    font-weight: bold;
    font-size: 1.5rem;
}

#footer {
    background-color: rgb(23, 23, 23);
}

#footer .lead {
    font-weight: bold;
    font-size: 1.75rem;
    color: #FFFFFF;
}

#footer span i {
    color: #FFFFFF;
}

#footer li {
    margin-bottom: 1rem;
}

#footer .form-group {
    border-bottom: 1px solid rgb(108, 108, 108);
    width: 100%;
}

#footer .form-control {
    background-color: rgb(23, 23, 23) !important;
    border: none;
}

#footer .form-group label {
    margin-bottom: 0;
    align-self: center;
}

#footer input:focus {
    box-shadow: 0 0 0 rgb(23, 23, 23) !important;
}

#footer button[type=submit]{
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

#cpyrght {
    background: rgb(26,26,26);
    padding:2rem;
}